.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

* {
    font-
}

.nav-t {
    font-weight: 800;
    font-size: 45px
}

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin: 30px;


}

nav ul {
    display: flex;

    align-items: center;
}

/* about main section */

.about{
max-width: 1140;
margin: 0 auto;
margin-top: 130px;
background: #FFF8F3;
border-radius: 10px;
}
.section-title{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
.des{
font-size: 18px;
margin-bottom: 30px;
}
.nav-sub {
    color: orange;
}

.btn-color {
    font-size: 20px;
    background-color: orangered;
    margin: 30px;
    padding: 15px 30px;
    color: rgb(0, 255, 85);
}

/* banner style */

.banner {
    display: flex;
    margin-left: 150px;
}

.banner-st {
    font-size: 45px;
    font-weight: 800;
}

.banner-t {
    font-size: 35px;

}

.banner-d {
    font-size: 25px;
}
